<h1 class="main-titulo">Información</h1>
<div class="contenedor">
    <div class="contenedor-info">
        <p>Somos un equipo de: 1 a 5 personas </p>
        <p>Principales clientes:
    
        Particulares</p>
        <p>Zona de cobertura:
    
         CABA -GRAN BSAS</p>
        <p>Equipamiento de apoyo:
    
        Calefacción y/o humidificación durante el viaje para evitar la humedad
        AIRE ACONDICIONADO</p>
        <p>Servicios de armado y desarme:
    
        Embalaje y preparación del contendio del cliente</p>
        <p>Datos necesarios para enviar un presupuesto:
    
        DIA , HORARIOS, Y DIRECCION DE INICIO Y DESTINO</p>
        <p>Servicios adicionales:
    
        Desalojo de mobiliario para tirar</p>
        <p>Mudanzas en fin de semana y feriados:
    
        Sí</p>
        <p>Formas de pago:
    
        Efectivo</p>
    </div>
</div>
