.clima{
    display: flex;
    background-color: palegoldenrod;
    justify-content: space-around;
    font-size: 7px;
}

.clima-info{
  padding-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.clima-descripcion{
    font-size: 20px;
    color:peru;
}