<main>      
    <div class="imagen-contenedor">
        <img class="imagen-central" src="assets/images/imagencentral.png" alt="Imagen de miniflete">
    </div>
    <div class="link">
        <a routerLink="informacion" class="link-hijo" id="informacion">Informacion</a>
        <a routerLink="quienessomos" class="link-hijo">¿Quienes Somos?</a>
    </div>
</main> <!--Cierre de main-->
<div class="form">
    <form name="contact" method="post" data-netlify="true" data-netlify-honeypot="bot-field" class="form-label">
        <p>Envíanos tu Consulta</p>
        <label class="form-label_item">
            Nombre:
            <input type="text" required>
            </label>
        <label class="form-label_item">
            Mail:
            <input type="email" required>
        </label>
        <label class="form-label_item">
            Consulta:
            <textarea rows="10" cols="50" placeholder="Escriba aquí Su Consulta" required></textarea>
        </label>
            <input class="btn" type="submit" value="Enviar Consulta">
    </form>
    <img src="assets/images/cajas.jpg" alt="cajas">
</div>
