<main>      
    <div class="imagen-contenedor">
        <img class="imagen-central" src="assets/images/imagencentral.png" alt="Imagen de miniflete">
    </div>
    <div class="link">
        <a routerLink="informacion" class="link-hijo" id="informacion">Informacion</a>
        <a routerLink="contacto" class="link-hijo" >Contacto</a>
        <a routerLink="quienessomos" class="link-hijo">¿Quienes Somos?</a>
    </div>
</main> <!--Cierre de main-->
<div class="form" id="consulta">
   
    <form 
        name="contact-form" 
        class="form-label"
        method="POST"
        netlify
    >    <p>Envíanos tu Consulta</p>
        <input type="hidden" name="form-name" value="contact-form" />
        <label class="form-label_item">
            Nombre:
        </label>
        <input type="text" name="nombre" required />
        
        <label class="form-label_item">
            Mail:
        </label>
        <input type="email" name="mail" required />
        
        <label class="form-label_item">
            Consulta:
        </label>
        <textarea name="comentarios" rows="10" cols="50" placeholder="Escriba aquí Su Consulta" required></textarea>
        <input class="btn" type="submit" value="Enviar Consulta">
    </form>
    <img src="assets/images/cajas.jpg" alt="cajas">
</div>
