.subtitulo{
    background-color: darkslategray;
    color:orange;
    font-size: 20px;
    text-align: center;
    border: 4px solid red;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.container{
    background-color: darksalmon;
    border-radius: 20px;
    
}

.container-img{
    max-width: 20%;
    border-radius: 80px;
    display: block;
    padding: 50px;   
}

.container-div{
    display: flex;
    font-family: 'Monoton',cursive;
    justify-content: center;
}

.info{
    padding-top: 100px;
    font-size: 30px;
}

@media (max-width: 800px){
    .container-img{
        max-width: 30%;
    }

    .info{
        font-size: 15px;
    }
    .subtitulo{
        font-size: 10px;
    }
}

@media (max-width:500px){
    .info{
      font-size: 10px;
      padding-right:5px;
    }
} 