<a href="#informacion" class="sr-only">Ir a Información</a>
<nav class="cabecera">
            
    <!-- <img src="imagenes/logo.png" alt="" class="logo"> -->
    <h1 class="logo">El CUYO FLETES</h1>
    <div class="hamburguesa">
        <label for="hamb">
            <img src="assets/images/hamburguesa.png" alt="hamburguesa" class="hamburguesa-item">
        </label>
    </div>
    <a routerLink="./">
        <img src="assets/images/cajas.jpg" alt="Ir al Inicio" class="imagen-cabecera">
    </a>
    
    <a href="https://www.google.com.ar/maps/" target="_blank">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.770405672704!2d-58.41756418428661!3d-34.58467556399882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb57f09cab163%3A0x5f69f00f2bc9a63d!2sRa%C3%BAl%20Scalabrini%20Ortiz%202578%2C%20C1425DBT%20CABA!5e0!3m2!1ses!2sar!4v1626731172508!5m2!1ses!2sar" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" class="mapa"></iframe>
    </a>
</nav>
<input class="hamb-input" type="checkbox" name="hamb" id="hamb">           
<ul class="submenu">
    <li class="submenu-item">
        <a routerLink="./">
            Ir al Inicio
        </a>
    </li>
    <li class="submenu-item">
        <a href="https://www.google.com.ar/maps/" target="_blank">
            Mapa de Google
        </a>
    </li>
</ul>