.sr-only{
    background-color: #042222;
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.sr-only:focus{
    background-color: #ff8c00;
    padding: 20px;
    width: auto;
    height: auto;
    clip: auto;
}

.hamburguesa{
    max-width: 12%;
    display:none;
}

.hamb-input{
    display:none;
} 

.submenu{
    list-style: none;
    display: none;
    width: 100%;
    background-color: rgb(206, 141, 3);
    text-decoration: none;
    font-size: 25px;
}

.submenu-item{
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

.logo-cont{
    text-decoration:none;
}

.logo{
    /* clip-path: ellipse(60% 70% at center);  */
    text-decoration: none;
    text-decoration-style: none;
    color: aliceblue;
    
}

.logo::after{
    content:"©";
    color : #070400;
    font-size: 20px;
    position: relative;
    top:-20px;
    text-decoration: none;
}

.mapa{
    max-width: 7em;
    clip-path:  ellipse(50% 17% at center);
}

.mapa:hover{    
        filter: saturate(150%);
        clip-path: circle(40% at center);    
}

.cabecera .imagen-cabecera{
    max-width: 700px;
}

.cabecera{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    background-color: #c05209; 
    border-radius: 80px;
    padding: 5px 0;
    height: 80px;
    
}

.imagen-cabecera{
    width: 40%;
    filter:opacity(0.6);
    transition: transform 2s;
    margin:0;
    padding: 0;
    clip-path:  ellipse(50% 50% at center);
}

.imagen-cabecera:hover{
    /* transform:scale(-1); */
    filter:saturate(200%);
    clip-path:  circle(80% at center);
}

@media (max-width: 800px){
    /* .logo{
        padding-left: 10%;
    }*/
    .mapa, .imagen-cabecera{
        display:none;
    } 

    .hamburguesa{
        display: block;
        padding-left: 20%;
        min-width: 15%;
        padding-right: 10%;  
    }
    /* 
    .hamburguesa-item{
         max-width: 100%;
        
    } */
    
    .hamburguesa:active{
        transform: rotate(10deg);
        transition: transform 0.1s;
    }

    #hamb:checked + .submenu{
        display: block;
    }

    .logo::after{
        display:none;
    } 
}